.navbar {
    font-size: 25pt;
    background-color: #000000;
    border-color: transparent;
    margin-bottom: 0px;
    height: 13vh;
}

.navbar-default .navbar-brand {
    font-size: 40pt;
    color: white;
    max-height: 10px;
    max-width: 20px;
    overflow: visible;
    padding-top: 6vh;
    padding-bottom: 0;
}

.nav.navbar-nav.navbar-right li a {
    padding-top: 5.5vh;
    color: white;
}

.navbar-default .navbar-brand img{
    height: 18vh;
    padding-top: 0;
    margin-top: -7vh;
}

#text {
    z-index: 100;
    position: absolute;
    color: blue;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 3.0;
}

#main {
    background-image: url("../images/landing.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

#main h1 {
    padding-top: 15vh;
    margin: auto;
    vertical-align: middle;
}

#second {
    padding-top: 0;
    margin-top: 0;
    height: 70vh;
    text-align: center;
}

#second h1{
    padding-top: 15vh;
}

#second img{
    margin-top: -5vh;
    height: 75vh;
}

.w3-container .w3-padding-128 {
    padding-top: 0;
    margin-top: -4vh;
}

#about {
    text-align: center;
    height: 80vh;
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/track.jpg");
    background-size: cover;
}

#about h2 {
    margin-right: 8vw;
    margin-left: 8vw;
}