<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- New user data input -->
<div class="w3-container w3-padding-128 w3-light-grey" id="contact">
    <h3 class="w3-center">NEW USER</h3>
    <p class="w3-center w3-large">Let's get to know you:</p>

    <p><input class="w3-input w3-border w3-margin-right" type="text" placeholder="First Name" required name="First Name"></p>
    <p><input class="w3-input w3-border w3-margin-right" type="text" placeholder="Last Name" required name="Last Name"></p>
    <p><input class="w3-input w3-border" type="number" placeholder="Age" required name="Age"></p>
    <p><input class="w3-input w3-border" type="email" placeholder="Email" required name="Email"></p>

    <div class="w3-half">
        <p><input class="w3-input w3-border" min="0" max="8" type="number" placeholder="Height (inches)" required name="HeightI" style="width: 320px;"></p>
    </div>


    <div class="w3-half">
        <p><input class="w3-input w3-border" min="0" max="11" type="number" placeholder="Height (inches)" required name="HeightI" style="width: 320px;"></p>
    </div>

    <p><input class="w3-input w3-border" type="number" placeholder="Weight (lbs)" required name="Weight"></p>
    <p><input class="w3-input w3-border w3-margin-right" type="text" placeholder="Username" required name="Username">
        <label>Username should be 3-25 characters</label>
    </p>


    <p><input class="w3-input w3-border w3-margin-right" type="password" placeholder="Password" required name="Password">
        <label>Password should be minimum 5 characters, and should contain at least 1 number and special character</label>
    </p>

    <p><input class"w3-input w3-border w3-margin-right" type="password" placeholder=" Confirm Password" required name="Confirm Password" style="height:40px; width: 645px;"></p>

    <a href="http://localhost/conU/templates/Stats.html"  >
        <div align="center">
            <button class="w3-btn w3-padding" type="submit">
                <i class="fa fa-paper-plane"></i> LET'S GO!
            </button>
        </div>
    </a>


</div>